.button__button {
	border: 2px solid var(--main-color);
	font-size: var(--modular-s);
	padding: var(--modular-base) var(--modular-base);
	transition: all .25s ease-out;
    font-family: 'Rajdhani';
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
    margin: 0 0 var(--modular-xl);
    background: var(--background-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    background-position: 50% 0%;
    background-size: 100% 0%;
    line-height: 0;
    cursor: pointer;
    align-self: flex-start;
}

.button__button:hover {
    background-size: 100% 100%;
    color: var(--secondary-color);
    box-shadow: 0 0 6px 0 var(--main-color);    
}

.button__button:active {
	transform: translateY(2px);
}

.button__button:focus {
	outline: none;
}

@media (--desktop-medium) {
    .button__button {
        font-size: calc(var(--modular-base) * .85);
    }
}