.button__button {
	border: 2px solid var(--main-color);
	font-size: var(--modular-s);
	padding: var(--modular-s) var(--modular-s);
	transition: all .3s ease;
    font-family: 'Rajdhani';
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
    margin: 0 0 var(--modular-l);
    background: var(--background-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    line-height: 0;
    width: 100%;
    cursor: pointer;
}

.button__button:hover {
    background-size: 100% 100%;
    color: var(--secondary-color);
    box-shadow: 0 0 6px 0 var(--main-color);    
}

.button__button:active {
	transform: translateY(2px);
}

.button__button:focus {
	outline: none;
}
