.card__css-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: repeat(2, 1fr);
	grid-gap: var(--modular-xs);
	margin: 0 0 var(--modular-l);
	padding: 0 var(--modular-xs);
}

.card {
	position: relative;
	background-color: var(--background-color);
	border: 1px outset var(--color-gray-darker);
	cursor: pointer;
	overflow: hidden;
	line-height: 0;
}

.card:hover>.card__bg {
	transform: scale(1.4);
}

.card__name {
	position: absolute;
	font-weight: 600;
	font-size: var(--modular-s);
	text-transform: uppercase;
	bottom: 1.7rem;
	z-index: 4;
	line-height: 0;
	background-color: rgba(210, 39, 48, 0.8);
	padding: .45rem;
}

.card__bg {
	max-width: 100%;
	transition: all .4s;
}

.card__tag-line {
	position: relative;
	text-align: center;
	padding: var(--modular-s) 0;
	font-size: var(--modular-s);
	text-transform: uppercase;
}

.card__accent {
	position: absolute;
	width: 100%;
	background-color: var(--main-color);
	height: 1px;
	bottom: 0;
}

@media (--tablet) {
	.card__css-grid {
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-columns: repeat(2, 1fr);
		grid-gap: var(--modular-xs);
		margin: 0 0 var(--modular-xl);
		padding: 0 var(--modular-s);
	}
	.card__name {
		font-size: var(--modular-base);
		bottom: 2.9rem;
		padding: .7rem;
	}
	.card__tag-line {
		font-size: var(--modular-base);	
		padding: var(--modular-base) 0;	
	}
	.card__accent {
		height: 2px;
	}
}

@media (--tablet-large) {
	.card__css-grid {
		grid-template-columns: repeat(4, 1fr);
		-ms-grid-columns: repeat(4, 1fr);
	}
	.card__name {
		bottom: var(--modular-base);
		right: var(--modular-xxs);
	}
}
