.card {
	position: relative;
	border: 1px outset var(--color-gray-darker);
	cursor: pointer;
	overflow: hidden;
	line-height: 0;
}

.card__name {
	position: absolute;
	display: flex;
	justify-content: center;
	padding: 0 var(--modular-xs);
	font-weight: 700;
	font-size: var(--modular-s);
	text-transform: uppercase;
	bottom: 24px;
	z-index: 20;
	background: var(--card-name-bg);
	line-height: var(--modular-l);
	transition: all .2s ease-in;
	text-shadow: var(--text-shadow);
}

.card__image-container {
	height: 4rem;
	background-size: cover;
	background-position: center -10px;
	transition: all .2s ease-in;
}

.card__tag-line {
	position: relative;
	text-align: center;
	padding: .3rem 0;
	font-size: var(--modular-xs);
	text-transform: uppercase;
	transition: all .2s ease-in;
	width: 100%;
	background-color: rgba(19, 19, 19, 0.95);
	z-index: 100;
	line-height: var(--modular-s);
	box-sizing: border-box;
	border-top: var(--main-color) 2px solid;
}

.card__accent {
	position: absolute;
	width: 100%;
	background-color: var(--main-color);
	height: 1px;
	top: 0;
	transition: all .2s ease-in;
	display: none;
}

/*
 * Media Queries
 */

@media (--tablet) {
	.card__name {
		font-size: var(--modular-base);
		bottom: 32px;
		line-height: var(--modular-xl);
	}
	.card__tag-line {
		font-size: var(--modular-s);
		padding: var(--modular-xxxs);
	}
	.card__accent {
		height: 2px;
	}
	.card__image-container {
		height: 7rem;
	}
}

@media (--tablet-large) {
	.card__image-container {
		height: 6.5rem;
	}
}

@media (--desktop) {
	.card__name {
		bottom: 0;
		font-size: var(--modular-l);
	}
	.card:hover .card__name {
		transform: translateY(-32px);
	}
	.card__tag-line {
		transform: translateY(32px);
		position: absolute;
		bottom: 0;
	}
	.card:hover .card__image-container {
		transform: scale(1.3) rotate(6deg);
	}
	.card:hover .card__tag-line {
		transform: translateY(0);
	}
	.card:hover .card__overlay {
		opacity: 100;
	}
}

@media (--desktop-large) {
	.card__name {
		line-height: var(--modular-xxl);
	}
	.card__tag-line {
		transform: translateY(35px);
	}
	.card:hover .card__name {
		transform: translateY(-35px);
	}
	.card__image-container {
		height: 7.7rem;
	}
}
