.card__flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between; /* or space-around */
	box-sizing:border-box;
}

.card {
	position:relative;
	border: 1px solid var(--color-gray-medium-light);

	flex-grow: 1;
    width: 25%;
	margin:5px;  /* and that, will result in a 10px gap */

	cursor:pointer;
	overflow:hidden;

}

.card:hover > .card__bg {
	transform: scale(1.4);
}

.card__name {
	position:absolute;
	font-weight: 600;
	font-size:  var(--modular-l);
	text-transform: uppercase;
	bottom:1.618rem;
	right:.3rem;
	z-index:4;
	line-height: 0;
}

.card__bg {
	max-width: 100%;
	transition: all .4s;
}
