.form__title {
    color: var(--main-color);
    margin: 0 0 var(--modular-base);
    font-weight: 600;
    font-size: calc(var(--modular-l) * .85);
}

.form__input-el {
    background: var(--overlay-background);
    overflow: hidden;
    border: 1px solid #d22730;
    min-width: 100%;
    color: var(--secondary-color);
    text-transform: uppercase;
    font-size: calc(var(--modular-base) * .85);
    font-family: 'Rajdhani';
    min-height: 4rem;
    margin: 0 0 var(--modular-s);
}

.form__input-el:focus {
    outline: none;
    box-shadow: 0 0 6px 0 var(--main-color);
}

@media (--desktop-small){
    .form__title {
        font-size: var(--modular-l);
    }
}
