.form__title {
    color: var(--main-color);
    margin: 0 0 var(--modular-base);
    font-weight: 600;
    font-size: var(--modular-l);
	text-align: center;
	text-transform: uppercase;
}

.form__input-el {
    background: var(--background-color);
	overflow: hidden;
	border: 1px outset #3f3f3f;
    border-bottom: 1px solid #d22730;
    min-width: 100%;
    color: var(--secondary-color);
    font-size: var(--modular-s);
    font-family: 'Rajdhani';
    min-height: 4rem;
	margin: 0 0 var(--modular-s);
	box-sizing: border-box;
	padding: var(--modular-xs) var(--modular-s) var(--modular-s);
}

.form__input-el:focus {
    outline: none;
    box-shadow: var(--box-shadow);
}

@media (--desktop) {
    .form__title {
        font-size: var(--modular-l);
    }
}
