.champion-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: repeat(2, 1fr);
	grid-gap: var(--modular-xxs);
	margin: 0 0 var(--modular-l);
}

@media (--tablet) {
	.champion-grid {
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-columns: repeat(2, 1fr);
		grid-gap: var(--modular-xs);
		margin: 0 0 var(--modular-xl);
	}
}

@media (--tablet-large) {
	.champion-grid {
		grid-template-columns: repeat(3, 1fr);
		-ms-grid-columns: repeat(3, 1fr);
	}
}


@media (--desktop-large) {
	.champion-grid {
		margin: 0 0 var(--modular-xl);
		grid-template-columns: repeat(4, 1fr);
		-ms-grid-columns: repeat(4, 1fr);
		grid-gap: var(--modular-s);
		margin: 0 0 8rem;
	}
}

