.champion-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	-ms-grid-columns: repeat(2, 1fr);
	grid-gap: var(--modular-xxs);
	margin: 0 0 5rem;
	flex-basis: auto;
	flex-grow: 1;
	max-width: 100%;
}

@media (--tablet) {
	.champion-grid {
		grid-template-columns: repeat(2, 1fr);
		-ms-grid-columns: repeat(2, 1fr);
		grid-gap: var(--modular-xs);
	}
}

@media (--tablet-large) {
	.champion-grid {
		grid-template-columns: repeat(3, 1fr);
		-ms-grid-columns: repeat(3, 1fr);
	}
}

@media (--desktop) {
	.champion-grid {
		padding: 0 var(--modular-base);
	}
}

@media (--desktop-large) {
	.champion-grid {
		grid-template-columns: repeat(4, 1fr);
		-ms-grid-columns: repeat(4, 1fr);
		grid-gap: var(--modular-s);
	}
}

