.footer {
	padding: var(--modular-s);
	text-align: center;
	font-size: var(--modular-s);
	line-height: 140%;
	box-shadow: 0 0 12px 0 var(--main-color);
	background: var(--background-color);
	grid-area: footer;
}

@media (--tablet) {
	.footer {
		padding: var(--modular-base) var(--modular-xl);
	}
}

@media (--tablet-large) {
	.footer {
		padding: var(--modular-base) var(--modular-xxxl);
	}
}

@media (--desktop-small) {
	.footer {
		padding: var(--modular-base) 11rem;
	}
}

@media (--desktop-medium) {
	.footer {
		padding: var(--modular-base) 15rem;
	}
}

@media (--desktop-large) {
	.footer {
		padding: var(--modular-base) 25rem;
	}
}
