.footer {
	padding: var(--modular-s);
	font-size: var(--modular-s);
	border-top:1px solid var(--main-color);
	box-shadow: var(--box-shadow);
	background: var(--background-color);
	grid-area: footer;
}

.footer__text {
	max-width: 30rem;
	text-align: center;
	margin: 0 auto 0;
}

@media (--desktop-large) {
	.footer {
		padding: var(--modular-base) 25rem;
	}
}
