html {
	font-family: 'Archive', sans-serif;
	background-color:var(--color-gray-lightest);
	color: var(--secondary-color);
}

body {
	margin:0;
}

a {
  text-decoration: none; /* no underline */
}

@font-face {
	font-family:"archive";
	font-style: normal;
	font-weight:300;
	src:url("/fonts/archive.eot");
	src:url("/fonts/archive.woff2") format("woff2"),
		url("/fonts/archive.woff") format("woff"),
		url("/fonts/archive.ttf") format("truetype")
	;
}

.layout {
	background-color: var(--background);
	max-width:100rem;
	margin: auto;
}

