html {
	font-family: 'Rajdhani', sans-serif;
	background-color:var(--color-gray-lightest);
	color: var(--secondary-color);
	font-size: 22px;
}

body {
	margin:0;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family:"Rajdhani";
	font-style: normal;
	font-weight: 300;
	src:url("/fonts/Rajdhani-Light.ttf");
}

@font-face {
	font-family:"Rajdhani";
	font-style: normal;
	font-weight: 400;
	src:url("/fonts/Rajdhani-Regular.ttf");
}

@font-face {
	font-family:"Rajdhani";
	font-style: normal;
	font-weight: 500;
	src:url("/fonts/Rajdhani-Medium.ttf");
}

@font-face {
	font-family:"Rajdhani";
	font-style: normal;
	font-weight: 600;
	src:url("/fonts/Rajdhani-SemiBold.ttf");
}

@font-face {
	font-family:"Rajdhani";
	font-style: normal;
	font-weight: 700;
	src:url("/fonts/Rajdhani-Bold.ttf");
}

.layout {
	background-color: var(--background);
	max-width:100%;
	margin: auto;
}

