.header {
    display: table;
    text-align:center;
    width:100%;
}

.header__logo-text {
    font-size:4.236rem;
    vertical-align: middle;
    display:table-cell;
    font-weight: 700;
}

.header__logo-emphasis {
    color: var(--main-color);
}
