.vote-container {
    display: flex;
    justify-content: flex-end;
	padding: .2rem 0 0;
}

.vote {
    display: flex;
    font-weight: 500;
}

.vote__item-up, .vote__item-down {
	display: flex;
    align-items: center;
}

.vote__item-up {
	margin: 0 1rem 0 0;
}

.vote__up-arrow, .vote__down-arrow {
    width: .8rem;
    height: .8rem;
	margin: 0 7px 0 0;
	cursor: pointer;
	opacity: .8;
}

.vote__down-arrow {
	transform: rotate(180deg);
}

@media (--desktop) {
    .vote {
        font-size: calc(var(--modular-l) * .75);
    }
    .vote__up-arrow, .vote__down-arrow {
        width: .9rem;
        height: .9rem;
        margin: 0 7px 0 0;
	}
	.vote__up-arrow:hover, .vote__down-arrow:hover {
		opacity: 1;
    }
 }
