<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Quake Champ Select</title>
		<meta name="viewport" content="width=1100" />

		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
		<link href="https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,700" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="/css/bundle.css">
		

	</head>
	<body>
		<div id="app"></div>

		<script type="text/javascript">
      		window.env = <%- JSON.stringify(env) %>;
    	</script>

		<script type="text/javascript" src="https://cdn.polyfill.io/v2/polyfill.min.js?features=Intl.~locale.{{ lang }}"></script>

		<% if(env == 'local'){ %>
			<script type="text/javascript" src="http://localhost:8777/bundle.js"></script>
		<% } else{ %>
			<script type="text/javascript" src="/js/bundle.js"></script>
		<% } %>
	</body>
</html>
