.matchup-card__container {
    display: flex;
    border-bottom: 1px solid var(--main-color);
    background: rgba(0, 0, 0, 0.7);
    text-transform: uppercase;    
}

.matchup-card__item {
    display: flex;
}

.matchup-card__champ-name {
    position: absolute;
    align-self: flex-end;
    font-weight: 600;
    font-size: var(--modular-s);
    z-index: 20;
    background-color: var(--main-color);
    padding: var(--modular-xxs) var(--modular-xs);
    line-height: var(--modular-s);
    transition: all .2s ease-in;
}

.matchup-card__champ-img-container {
    overflow: hidden;
}

.matchup-card__champ-img {
    width: 60px;
    height: 50px;
    object-fit: cover;
    object-position: 50% 50%;
    transform: scale(1.4);
}

.matchup-card__vote {
    display: flex;
    font-weight: 500;
    z-index: 10;
    align-items: center;
}

.matchup-card__item-up {
    margin: 0 1rem 0 0;
}

.matchup-card__up-arrow, .matchup-card__down-arrow {
    width: .8rem;
    height: .8rem;
    margin: 0 7px 0 0;
}

@media (--desktop-small) {
    .matchup-card__up-arrow, .matchup-card__down-arrow {
        width: .9rem;
        height: .9rem;
        margin: 0 7px 0 0;
    }
 }
