html {
	font-family: 'Open Sans Condensed', sans-serif;
	height:calc(100%);
	color: #FFFAFA;
	background: url('/assets/imgs/pink_dust.png');
}

a {
  color: #FFFAFA;
  text-decoration: none; /* no underline */
}

.layout {

}

.layout__container {
	max-width:100rem;
	margin: auto;
}

.layout__title {
	font-size:3.4rem;
	text-align:center;
	margin:auto;
	padding-bottom:5rem;
	padding-top:2rem;
}

.layout__liked {
	text-align: center;
	font-size: 1.5rem;
	color: white;
	text-decoration: none;
}

.layout__grid {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}
