.ad-vertical-example-1 {
    height: 150px;
    background: white;
    color: black;
}

.ad-vertical-example-2 {
    height: 400px;
    background: black;
    color: white;
}

.ad-horizontal-example {
    height: 70px;
    width: 40%;
    background: white;
    color: black;
}