.matchups-flex {
    display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.matchups-header {
    font-size: var(--modular-xxl);
    font-weight: 600;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 var(--modular-xxxl);
}

.matchups {
    text-transform: uppercase;
	padding: 0 calc(var(--modular-s) / 2) 0;
	max-width: 25rem;
	width: 100%;
	box-sizing: border-box;
}

.matchups__title {
    margin-bottom: var(--modular-xs);
}

.matchups__matchup-card:last-child {
    margin: 0 0 var(--modular-base);
}

.matchups__show-more-btn {
    border: 2px solid var(--main-color);
	font-size: var(--modular-s);
	padding: var(--modular-s) var(--modular-s);
	transition: all .25s ease-out;
    font-family: 'Rajdhani';
    text-transform: uppercase;
    color: var(--main-color);
    font-weight: 600;
    margin: 0 0 var(--modular-xl);
    background: transparent;
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-position: 50% 0%;
    background-size: 100% 0%;
    background-repeat: no-repeat;
    line-height: 0;
    width: 100%;
    margin: 0 0 var(--modular-xl);
    cursor: pointer;
}

.matchups__show-more-btn:focus {
	outline: none;
}

 /*
 * Media Queries
 */

 @media (--tablet-large) {
	.matchups-flex {
		flex-direction: row;
		margin-bottom: 4rem;
		padding: 0 var(--modular-base);
	}
	.matchups {
		flex-basis: 50%;
		padding: 0;
	}
	.matchups:first-child {
		flex-basis: 50%;
		margin-right: var(--modular-xxs);
	}
	.matchups__show-more-btn {
		margin: 0;
	}
 }

 @media (--desktop) {
    .matchups__show-more-btn:hover {
        background-size: 100% 100%;
        color: var(--secondary-color);
        box-shadow: var(--box-shadow);
    }
    .matchups__show-more-btn:active {
        transform: translateY(2px);
	}
 }
