.ad-container {
    display: none;
}

.ad-container-horizontal {
    display: flex;
	justify-content: center;
    margin: 0 0 var(--modular-xl);
    border: 2px solid white;
}

.ad-container-horizontal:last-child {
    margin: 0;
}

/***
 * Ad Locations
 * -
 */

.ad-container__home {
	margin-bottom: 0;
}

.ad-container__champion-index-middle {
    margin-bottom: var(--modular-xxxl);
}

/***
 * Media queries
 * -
 */

@media (--desktop) {
	.ad-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        border: 2px solid white;
    }
}
