.ad-container {
    display: none;
}

.ad-container-horizontal {
    display: flex;
    justify-content: center;
    margin: 0 0 var(--modular-xl);
    border: 2px solid white;
}

.ad-container-horizontal:last-child {
    margin: 0;
}

@media (--desktop) {
	.ad-container  {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        border: 2px solid white;
    }
}
