/*
 * Searchbar
 * =========
 */

 .searchbar {
 	height:1rem;
 	text-align:center;
	padding-bottom:5rem;
 }

 input {
 	outline: none;
 	background-color: transparent;
 	border: none;
 	color:#F8F8FF;
 	text-shadow: 0px 0px 0px #F8F8FF;
 	-webkit-text-fill-color: transparent;
	opacity:.7;
 }

.searchbar__bar {
	margin:auto;
	width:20rem;
	border-bottom:1px solid #F8F8FF;
	padding:.5rem;
	font-size:1.3rem;
}
