.tips {
    text-transform: uppercase;
    padding: 0 var(--modular-s);
    font-weight: 500;
}

.tips__title {
    color: var(--main-color);
    margin: 0 0 var(--modular-base);
    font-weight: 600;
    font-size: var(--modular-l);
}

.tips__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.tips__tip {
    padding: var(--modular-s) var(--modular-xs);
    background: var(--overlay-background);
    margin-bottom: var(--modular-xs);
    border-bottom: solid 1px var(--main-color);
}

.tips__tip:last-child {
    margin-bottom: var(--modular-l);
}

.tips__tip-name {
    font-size: calc(var(--modular-base) * .85);
}

.tips__tip-name_big-white-quote {
    font-size: var(--modular-base);
    font-weight: 700;
    margin: 0 0 0 3px;
}

.tips__tip-name_big-red-quote {
    font-size: var(--modular-base);
    color: var(--main-color);
    font-weight: 700;
    margin: 0 3px 0 0;    
}

.vote-container {
    display: flex;
    justify-content: flex-end;
    
}

.vote {
    display: flex;
    font-weight: 600;
}

.vote__item-up {
    margin: 0 1rem 0 0;
}

.vote__up-arrow {
    width: .8rem;
    height: .8rem;
    margin: 0 5px 0 0;
}

.vote__down-arrow {
    width: .8rem;
    height: .8rem;
    margin: 0 5px 0 0;
}