.line-graph-wrapper {
	display: flex;
	flex-direction: row;
}

.line-graph {
	flex-basis: 100%;
	height: .8rem;
	background: #262626;
	position: relative;
}

.line-graph__up-vote-percent {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	box-sizing: border-box;
	height: 100%;
	transition: all .5s ease-out;
	box-shadow: var(--box-shadow-inset);
}

.line-graph__up-vote-percent-text {
	font-size: var(--modular-xs);
}
